LEETCODE_USERNAME=your_leetcode_username
LEETCODE_EMAIL=your_leetcode_email
LEETCODE_PASSWORD=your_leetcode_password

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

CHECK_INTERVAL=10
USE_INTERNAL_CRON=false
AUTO_SUBMIT_RETRY_MINUTES=15
LOCK_STALE_MINUTES=25
